*{
    margin: 0;
    padding: 0;
    font-family:futura;
}
body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}
.main{
 border: 3px solid rgb(92, 129, 252);
 box-sizing: border-box;
 padding: 1rem;
 background:linear-gradient(#005C97,#363795);
 border-radius: 0.4rem;
 /* box-shadow: ;
  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);

}
ul{

   
    width: fit-content;
    display: flex;
    flex-direction:column;
    gap: 1rem;
    margin-top: 1rem;

}
li{
    list-style-type: none;
    border: 2px solid rgb(111, 206, 99);
    display: flex;
    gap: 1rem;
    width: fit-content;
    padding: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    background: linear-gradient(#457fca,#5691c8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.remove{
    padding: 4px;
    color: brown;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    background-color: #edd7d7;
    border-radius: 0.4rem;
    border: 2px solid rgb(252, 70, 67);
    transition: all 0.4s;
}
.remove:hover{
    transform: scale(1.06);
}
input{
    height: 2rem;
    padding: 4px;
    box-sizing: border-box;
    color: rgb(219, 108, 216);
    border-radius: 0.4rem;
    border:2px solid #dde83d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
.add{
    height: 2rem;
    padding: 4px;
    border-radius: 0.4rem;
    background-color: antiquewhite;
    border-color: #ffffff;
    background-color: #dde83d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: all 0.4s;
}
.add:hover{
    transform: scale(1.06);
}
li h5{
    color: rgb(255, 255, 255);
}